/* ======= ESTILOS GENERALES ======= */
body {
    background-color: #807b7b;  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* ======= CATÁLOGO DE PRODUCTOS ======= */
.productos {
    background-color: #807b7b;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.producto {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 220px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.producto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.producto h3 {
    font-size: 18px;
    margin: 10px 0;
}

.producto p {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 5px 0;
}

button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #c9302c;
}

/* Botones inferiores */
.botones-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
}

.boton-accion {
    background-color: #28a745;
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.boton-accion:hover {
    background-color: #218838;
}

/* ======= CARRITO DE COMPRAS ======= */
.carrito {
    background-color: #f0f0f0;
    color: black;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 600px;
}

.carrito-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    max-width: 500px; 
}

.carrito-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.carrito-item-details {
    flex-grow: 1;
    text-align: left;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; 
    font-size: 14px; 
}

.carro-button {
    background-color: #ff6347;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; 
    margin-top: 15px; 
    font-size: 14px;
    text-align: center;
}

.carro-button:hover {
    background-color: #ff4500;
}